.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.logo-container img {
    width: 100px;
}

.custom-modal-fullwidth {
    max-width: 98%;
    margin: 1rem auto;
}